/* Importerer skrifttyper og generelle stiler fra Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Roboto:wght@400;500&display=swap");
/* Setter generelle stiler for alle elementer på siden */
* {
  font-family: Metrophobic;
}

/* Stil for hele nettsiden */
body {
  background-color: #eae7dc;
  /* Setter bakgrunnsfargen*/
  margin: 0;
  padding: 0;
  text-align: center;
  /* Justerer tekst til senter av siden */
}

/* Stil for logoen */
#logo,
#logoDiv {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 15vh;
  width: 15vh;
}

/* Stil for hovedboksen */
#main-box {
  margin: 20px auto;
  /* Setter margin øverst og nederst til 20 piksler, og horisontalt til automatisk plassering */
  padding: 20px;
  max-width: 400px;
  /* Begrenser maksimal bredde til 400 piksler */
}

/* Stil for hoved input titel */
#Main-Title {
  color: #e85a4f;
  text-align: center;
  background-color: #eae7dc;
  border: none;
  outline: none;
  font-size: 32pt;
  margin-left: -10%;
}

/*bytter placeholder farge for titel */
#Main-Title::placeholder {
  color: #e85a4f;
  opacity: 0.6;
}

#input-container {
  margin-top: 20px;
  /* Legger til toppmargin på 20 piksler */
}

/* Stil for input boksen */
#taskInput {
  width: 70%;
  /* Setter bredde til 70% av forelderens bredde */
  padding: 8px;
  border: 1px solid #ccc;
  /* Legger til en tynn kantlinje rundt inndatafeltet */
  border-radius: 4px;
  /* Gir avrundede hjørner */
  outline: none;
  /*skrur av outline*/
}

/*bytter placeholder farge */
#taskInput::placeholder {
  color: #808080;
}

/* Stil for knappene */
#addTaskButton,
#removeAllTasksButton {
  background-color: #e85a4f;
  /* Bakgrunnsfarge for knappene er rødlig oransje */
  color: #fff;
  /* Tekstfarge for knappene er hvit */
  border: none;
  /* Fjerner kantlinje */
  padding: 8px 16px;
  /* Inneholder padding for knappene */
  margin-left: 5px;
  /* Legger til venstre margen på 5 piksler */
  border-radius: 4px;
  /* Gir avrundede hjørner */
  cursor: pointer;
  /* Endrer musepekeren til en hånd når du holder over knappen */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Gir jevne overganger for bakgrunnsfarge og transformasjon */
  margin-top: 10px;
  /* Legger til toppmargen på 10 piksler */
}

#addTaskButton:hover,
#removeAllTasksButton:hover {
  background-color: #e85a4f;
  /* Bakgrunnsfargeendring ved musepekeren over knappen */
  transform: scale(1.05);
  /* Skaleringseffekt ved hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Skyggeeffekt */
}

#addTaskButton:active,
#removeAllTasksButton:active {
  background-color: #e85a4f;
  /* Bakgrunnsfargeendring ved klikk på knappen */
  transform: scale(0.95);
  /* Skaleringseffekt ved klikk */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Skyggeeffekt */
  transition: all 0.1s;
  /* Gir jevne overganger klikk event */ 
}

/* Stil for oppgavelisten og status */
#taskListContainer {
  margin-top: 20px;
  /* Legger til toppmargen på 20 piksler */
  max-height: 60vh;
  /* Begrenser maksimal høyde til 60% av visningens høyde */
  overflow-y: auto;
  /* Legger til vertikal rullefelt hvis innholdet overskrider maksimal høyde */
}

/* stil for scrollbar */
#taskListContainer::-webkit-scrollbar {
  width: 12px; 
  /* bredde på scrollbar */
}

#taskListContainer::-webkit-scrollbar-track {
  background: #eae7dc; 
  /* farge på rullefelt */
}

#taskListContainer::-webkit-scrollbar-thumb {
  background-color: #e85a4f; 
  /* farge på rullefeltet */
  border-radius: 20px; 
  /* rundhet på rullefeltet */
  border: 3px solid #eae7dc; 
  /* lager en kant rundt rullefeltet */
}

/* stil for Oppgaveliste */
#taskList {
  background-color: #f9f9f9;
  /* Setter bakgrunnsfargen til lys grå */
  padding: 10px;
  /* Inneholder padding for oppgavelisten */
  border: 1px solid #ccc;
  /* Legger til en tynn kantlinje rundt oppgavelisten */
  border-radius: 4px;
  /* Gir avrundede hjørner */
  min-height: 57vh;
  /* Setter minimal høyde til 57% av visningens høyde */
  text-align: left;
  /* Justerer tekst til venstre */
}

/* Stil for fremdriftsteller */
#taskStatus {
  font-weight: bold;
  /* Setter fet skrift for statusmeldingen */
  position: absolute;
  /* Absolutt posisjonering */
  bottom: 0;
  /* Plasserer nederst på forelderdiven */
  left: 50%;
  /* Plasserer horisontalt sentrert */
  transform: translateX(-50%);
  /* Justerer horisontal posisjon for å sentrere */
  margin: 20px 0;
  /* Setter topp- og bunnmargen til 20 piksler og null venstremargen */
}

/* Stil for slett alt knapp */
.delete-button {
  cursor: pointer; 
  /* Endrer musepekeren til en hånd når du holder over knappen */
  float: right; 
  /* Flyter elementet til høyre innenfor forelderdiven */
  width: 20px; 
  /* Setter bredden til 20 piksler */
  height: 20px; 
  /* Setter høyden til 20 piksler */
}

/* Stil for individuelle oppgaver */
.task-box {
  border: 1px solid #ccc; 
  /* Legger til en tynn kantlinje rundt oppgaveboksen */
  padding: 10px; 
  /* Inneholder padding for oppgaveboksen */
  margin: 5px 0; 
  /* Legger til en øvre og nedre marg på 5 piksler */
  max-width: 100%; 
  /* Begrenser maksimal bredde til 100% av forelderens bredde */
}

.task-item {
  display: flex; 
  /* Bruker flex-boks for oppgaveelementet */
  align-items: center; 
  /* Sentrerer innholdet vertikalt */
  justify-content: space-between; 
  /* Plasserer elementer i motsatte ender */
  transition: text-decoration 0.2s; 
  /* Overgangseffekt for tekstdekorasjon */
  max-width: 100%; 
  /* Begrenser maksimal bredde til 100% av forelderens bredde */
}

.task-item label {
  flex: 1; 
  /* Gir fleksibel vektdeling for label */
  word-wrap: break-word; 
  /* Bryter lange ord ved behov */
  max-width: 80%; 
  /* Begrenser maksimal bredde til 90% av forelderens bredde */
}

.task-item:hover {
  text-decoration: line-through; 
  /* Gir strek over tekst ved hover */
}

.task-item input[type="checkbox"] {
  margin-right: 10px; 
  /* Legger til høyremargen på 10 piksler */
}

.completed-task {
  text-decoration: line-through; 
  /* Gir strek over tekst for fullførte oppgaver */
  color: gray; 
  /* Endrer tekstfargen til grå for fullførte oppgaver */
}

.checkbox {
  accent-color: #e85a4f; 
  /* Setter aksentfarge for sjekkboksen */
}